<div class="event event_left" style="margin-top:20px;">
    <!-- <div class="event_image"><img src={{eventInput.img}} alt=""></div> -->
    <div class="event_image"><img src='assets/images/course_5.jpg' alt=""></div>

    <div class="event_body d-flex flex-row align-items-start justify-content-start">
        <!-- <div class="event_date">
            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                <div class="event_day trans_200">{{eventInput.duration}}</div>
                <div class="event_month trans_200">{{eventInput.month}}</div>
            </div>
        </div> -->
        <div class="event_content">
            <div class="event_title"><a href="#">{{eventInput.name}}</a></div>

            <div class="event_info_container">
                <div class="event_info"><i aria-hidden="true"></i><span>{{eventInput.trainer}}</span></div>
                <div class="event_info" class="fa fa-graduation-cap"><i aria-hidden="true"></i><span>{{eventInput.capacity}} ~ ~ </span></div>
                <div class="event_info" class="fa fa-star"><i aria-hidden="true"></i><span> ${{eventInput.price}}</span></div>

                <div>
                    <button type="submit" class="comment_button trans_200" (click)="goToDisplay(eventInput._id)">Display</button>

                </div>
            </div>
        </div>
    </div>
</div>